In [1]:
import requests

In [2]:
wiki_link = "https://en.wikipedia.org/wiki/List_of_Asian_countries_by_area"
link = requests.get(wiki_link).text

In [ ]:
print(link)

In [4]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(link, 'lxml')
print(soup)

In [ ]:
print(soup.prettify())

In [7]:
soup.title

In [8]:
soup.title.string

'List of Asian countries by area - Wikipedia'

In [9]:
soup.a

In [ ]:
soup.find_all('a')

In [ ]:
all_link = soup.find_all('a')
for link in all_link:
  print(link.get('href'))

In [ ]:
all_tables = soup.find_all('table')
print(all_tables)

In [ ]:
right_table = soup.find('table', class_= 'wikitable sortable')
print(right_table)

In [ ]:
table_links= right_table.findAll('a')
table_links

In [15]:
Country = []
for link in table_links:
  Country.append(link.get('title'))
print(Country)

['Russia', 'European Russia', None, 'China', 'Taiwan', 'Hong Kong', 'Macau', 'India', 'Kazakhstan', 'Saudi Arabia', 'Iran', 'Mongolia', 'Indonesia', 'Western New Guinea', 'Oceania', 'Pakistan', 'Turkey', 'East Thrace', 'Myanmar', 'Afghanistan', 'Yemen', 'Thailand', 'Turkmenistan', 'Uzbekistan', 'Iraq', 'Japan', 'Vietnam', 'Malaysia', 'Oman', 'Philippines', 'Laos', 'Kyrgyzstan', 'Syria', 'Golan Heights', 'Cambodia', 'Bangladesh', 'Nepal', 'Tajikistan', 'North Korea', 'South Korea', 'Jordan', 'United Arab Emirates', 'Azerbaijan', 'Caucasus', 'Europe', 'Asia', 'Georgia (country)', 'Caucasus', 'Europe', 'Asia', 'Sri Lanka', 'Egypt', 'Bhutan', 'Taiwan', 'Free area of the Republic of China', 'Armenia', 'Armenian highlands', 'Caucasus', 'Europe', 'Asia', 'Israel', 'West Bank', 'Gaza Strip', 'Golan Heights', 'Kuwait', 'East Timor', 'Qatar', 'Lebanon', 'Cyprus', 'Northern Cyprus', 'State of Palestine', 'West Bank', 'Gaza Strip', 'Brunei', 'Bahrain', 'Singapore', 'Maldives']

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(Country)
df

                  0
0            Russia
1   European Russia
2              None
3             China
4            Taiwan
..              ...
72       Gaza Strip
73           Brunei
74          Bahrain
75        Singapore
76         Maldives

[77 rows x 1 columns]